@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

body {
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  color: #565357;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  color: #7f4e8b;
  margin: 0;
}

.top-section {
  float: left;
  width: 50%;
  min-width: 260px;
}

#pics-of-us img {
  display: block;
  max-width: 100%;
  max-height: 600px;
  height: auto;
}

.inner-wrapper {
  padding: 2em 2em 2em 3em;
}

header span {
  color: #565357;
  font-size: 1.4em;
  display: block;
  padding-top: .4em;
}

.section-details {
  color: #565357;
  font-size: 1.4em;
  line-height: 1.4em;
  margin-top: 1.5em;
}

.section-details header {
  text-transform: uppercase;
  font-weight: bold;
  color: #7f4e8b;
  font-size: 1.4em;
  padding-bottom: .2em;
}

.other-info {
  clear: both;
  font-size: 1.2em;
}

.other-info section {
  width: 33.3%;
  min-width: 260px;
  float: left;
  margin-top: 1.5em;
}

.other-info header {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  background: url('pics/rsvp-bg.png') center center no-repeat;
  background-size: contain;
  padding: 1em 1.2em .9em;
}

.other-info #hotel header {
  background-image: url(pics/accomodations-bg.png);
}

.other-info .inner-wrapper {
  padding: 1.2em 2.2em;
  line-height: 1.5em;
}

.other-info a {
  color: #fff;
  display: block;
  padding: .9em;
  width: 160px;
  text-align: center;
  margin: 1.8em auto;
  font-size: 1.2em;
  border-radius: 3px;
  background-color: #7f4e8b;
  text-decoration: none;
}

#registry a {
  width: 200px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
      font-size: 12px;
    }
    
    .top-section {
      float: none;
      width: 100%;
    }
}
