@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

body {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  color: #7f4e8b;
  margin: 0;
}

.top-section {
  float: left;
  width: 50%;
}

#pics-of-us img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.inner-wrapper {
  padding: 2em 2em 2em 3em;
}

header span {
  color: #565357;
  font-size: 1.5em;
  display: block;
  padding-top: .4em;
}

.section-details {
  color: #565357;
  font-size: 1.5em;
  line-height: 1.4em;
  margin-top: 1.4em;
}

.section-details header {
  text-transform: uppercase;
  font-weight: bold;
  color: #7f4e8b;
  font-size: 1.4em;
  padding-bottom: .2em;
}
